form {
    font-size: 1rem;
}

.control {
    display: flex;
    flex-flow: column nowrap;

    + .control {
        margin-top: 1rem;
    }

    > label {
        font-size: 1em;
        padding: 0.5rem;
    }
    > input {
        transition-property: box-shadow, background-color;
        transition-duration: 150ms;
        transition-timing-function: linear;

        border-radius: 0.25rem;
        border: 1px solid rgba(var(--color-rgb), 0.5);
        // border-color: transparent;
        font-size: 1em;
        padding: 0.5rem 1rem;
        outline: none;
        background-color: rgba(var(--color-rgb), 0);
        // color: #000;
        color: var(--color);
        // text-shadow: 0px 0px 3px rgba(102, 102, 102, 0.2);
        &::placeholder {
            color: rgba(var(--color-rgb), 0.5);
        }
        // &:hover {
        //     // border-color: transparent;
        //     box-shadow: inset 1rem 1rem 0.5rem -0.75rem rgba(var(--color-rgb), 0.3),
        //         0 0 1rem rgba(var(--color-rgb), 0.5);
        //     background-color: rgba(var(--color-rgb), 0.2);
        // }
        // &:focus {
        //     // border-color: transparent;
        //     background-color: rgba(var(--color-rgb), 0.4);
        // }
    }
}
