<div class="main">
  <div
    class="row"
    style="justify-content: center; width: 100%; flex-wrap: nowrap"
  >
    <app-form-local
      class="row__item panel"
      style="max-width: 500px"
      (changed)="onFormChanged($event)"
    >
    </app-form-local>
    <app-counter class="row__item panel"></app-counter>
    <app-timer class="row__item panel"></app-timer>
    <div class="row__item">
      <div class="panel">
        <h3>Select</h3>
        <app-select></app-select>
      </div>
    </div>
  </div>
  <div class="row" style="justify-content: center">
    <div class="row__item">
      <div class="panel h-100" style="width: 450px">
        <h3>Método</h3>
        <div class="code errado">
          <pre>{{ _code_concatenandoPorMetodo }}</pre>
        </div>
        <h3 style="margin-top: 2rem">Resultado</h3>
        <div class="result">
          <!-- <span class="result__label">Resultado:</span> -->
          <span class="result__text">{{ concatenandoPorMetodo() }}</span>
        </div>
      </div>
    </div>
    <div class="row__item">
      <div class="panel h-100" style="width: 450px">
        <h3>Variável</h3>
        <div class="code correto">
          <pre>{{ _code_concatenandoPorVariavel }}</pre>
        </div>
        <h3 style="margin-top: 2rem">Resultado</h3>
        <div class="result">
          <!-- <span class="result__label">Resultado:</span> -->
          <span class="result__text">{{ concatenandoPorVariavel }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
