.main {
    padding: 2rem;
}
.code {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.code + .result {
    margin-top: 2rem;
}

.result {
    padding: 1rem;
    font-size: 0.9rem;
    border: 1px dashed rgba(var(--color-rgb), 0.5);

    &__label {
        margin-right: 1rem;
    }
    &__text {
        font-family: monospace;
        font-weight: 500;
        // border: 1px solid rgba(var(--color-rgb), 0.2);
        // padding: 1rem;
        // background-color: #fdd;
    }
}
